<div class="grid-container">
  <div class="card text-white text-center bg-dark mb-3">
    <div class="card-body">
      <h5 class="card-title">Ask a question to your Medical Team</h5>
      <div>Have a question regarding your stay?</div>
      <div>Our professional care team is happy to help.</div>
      <div>We will promptly get back to you.</div>
    </div>
  </div>
</div>
<div class="grid-container" [hidden]="isValidFormSubmitted">
  <div class="card text-white text-center bg-dark mb-3">
    <div class="card-body">
      <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
        <div class="col-md-12">
          <label for="topic"> Topic </label>
        </div>
        <div class="col-md-4 offset-md-4 mb-3">
          <select
            class="form-control"
            id="topic"
            name="topic"
            formControlName="topic"
          >
            <option *ngFor="let topic of topics" [value]="topic">
              {{ topic }}
            </option>
          </select>
        </div>
        <div class="col-md-12">
          <label for="email"> Email address </label>
        </div>
        <div class="col-md-6 offset-md-3 mb-3">
          <input
            class="form-control"
            type="text"
            id="email"
            name="email"
            formControlName="email"
          />
        </div>
        <div class="col-md-12">
          <label for="question"> Question </label>
        </div>
        <div class="col-md-8 offset-md-2 mb-3">
          <textarea
            class="form-control"
            rows="12"
            id="question"
            name="question"
            formControlName="question"
          ></textarea>
        </div>
        <button type="submit" [disabled]="!questionForm.valid">Submit</button>
      </form>
    </div>
  </div>
</div>
<div class="grid-container" [hidden]="!isValidFormSubmitted">
  <div class="card text-white text-center bg-dark mb-3">
    <div class="card-body">
      <div>
        <h4>
          <div>Thank you. Your question has been submitted.</div>
          <div>We will reach out to you in a few business days.</div>
        </h4>
      </div>
    </div>
  </div>
</div>
