<div class="grid-container">
  <div class="card text-white text-center bg-dark mb-3">
    <div class="card-body">
      <h5 class="card-title">Contact Information</h5>
    </div>
  </div>
</div>
<div class="row">
  <div class="col col-12 col-md-6">
    <div class="grid-container">
      <div class="card text-white text-center bg-dark mb-3">
        <div class="card-header">Contact by Phone</div>
        <div class="card-body">
          <h5 class="card-title">Front desk: +1 505 867 5309</h5>
          <h6>In Case of an Emergency, please dial 911.</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-12 col-md-6">
    <div class="grid-container">
      <div class="card text-white text-center bg-dark mb-3">
        <div class="card-header">Contact by Email</div>
        <div class="card-body">
          <h5 class="card-title">Email: BlackMesaMedical@site.com</h5>
          <h6>
            Have a question or need a little support? Email our friendly staff.
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col col-12 col-md-6">
    <div class="grid-container">
      <div class="card text-white text-center bg-dark mb-3">
        <div class="card-body">
          <div class="card-header">Hours of Operation</div>
          <div class="card-body">
            <h6>Monday 07:00 AM - 10:00 PM</h6>
            <h6>Tuesday 07:00 AM - 10:00 PM</h6>
            <h6>Wednesday 07:00 AM - 10:00 PM</h6>
            <h6>Thursday 07:00 AM - 10:00 PM</h6>
            <h6>Friday 07:00 AM - 10:00 PM</h6>
            <h6>Saturday 07:00 AM - 10:00 PM</h6>
            <h6>Sunday 07:00 AM - 10:00 PM</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-12 col-md-6">
    <div class="grid-container">
      <div class="card text-white text-center bg-dark mb-3">
        <div class="card-header">Address</div>
        <div class="card-body">
          <h5 class="card-title">
            <div>310 Black Mesa Dr.</div>
            <div>Raccoon City, NM, 87107</div>
          </h5>
          <h6><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d417918.1817301706!2d-106.95666690318821!3d35.082087678816144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87220addd309837b%3A0xc0d3f8ceb8d9f6fd!2sAlbuquerque%2C%20NM!5e0!3m2!1sen!2sus!4v1618102687434!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe></h6>
        </div>
      </div>
    </div>
  </div>
</div>
